---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1> Hackathons I've organized or helped with </h1>
		<h3> I've organized <code> 3</code> hackathons, and I've helped organize parts of <code> 2</code> hackathons all over the world</b></h3>
        <p> Going to my first hackathon changed my life. It made me realize that programming wasn't something I had to do alone, and made me realize that I could do anything.  When I attendted Assemble, I met teenagers just like me from all over the world. I met new friends, and worked together on a lot of wacky projects.</a> </p>
        <h2> AngelHacks Toronto</h2>
        <h3> May 27th 2024, 9 AM to 8 PM at WeWork Toronto</h3>
       <img class="poloaroid" src=""></img>
		<p> At Hack Club, I run community logsticts helping run programs like Low Skies. I oversee other community teams (support, fraud, quests, and virtual events). I also run the community moderation team. 
			This summer, I interned at Hack Club working on community moderation software & ran community events for Arcade </p>
		<h2> Apocalypse</h2>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/QvCoISXfcE8?si=aKA84EcTOBX1c8fR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>	
		<p> This May, I helped organize <a class="bold-link" href="https://hack.club/apocalypse-video"> Apocalypse. </a>  Apocalypse was a labour of love, a hackathon me and a few friends enviosned in Septmember. </p>

	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;

	}
	.bold-link {
		color: #ffff00;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
