---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Radioblahaj's website!">
	<main>
		<h1> Hi, I'm <span id="random"> Arav</span> <code class="instructions"> he/him</code></h1>
		<p> This is a very unfinished website, so sorry in advance!</p>
		<p> I'm a senior from Mississauga (near Toronto) who loves public transit, urban planning, reading magazines and newspapers, programming (sometimes), running/building online communites, and <a class="bold-link" href="/hackathons"> running hackathons. </a> I also enjoy doing sound for school events whenever I get the chance ^.^ </p>
		<p> I love making things <i> when my brain lets me</i>, I like to joke how I have a love and hate relationship with programming. I'm comfortable with JS the most! </p>	
		<p> I'm hoping to major in Poltical Science, or another BA program in Social Sciences. Right now, I work at Hack Club</p>
		<p> Right now, I'm trying to start a blog on Mississauga City Hall & Ontario Politics, at <a href="https://mississauga.report" class="bold-link"> Missisauga Report</a>, and trying to figure out how to get more involved in politics.</p>
		<p> At Hack Club, I run community logsticts helping run programs like High Seas. I oversee other community teams (support, fraud, virtual events, and the newspaper team). I also co-run the community moderation team!
			This summer, I interned at Hack Club working on community moderation software & ran community events for Arcade </p>
		<p> This May, I helped organize <a class="bold-link" href="https://apocalypse.hackclub.com"> Apocalypse. </a>  Apocalypse was a labour of love, a hackathon me and a few friends enviosned in Septmember, and it ended up becoming Canada's largest High School hackathon EVER </p>
		<p> The best place to contact me would be on Slack (@radioblahaj) or email me at firstname@domainname.com!</p>
	<p> Here's a Blahaj I drew!</p>
	<p> See you around, Arav</p>
	<img src="https://ca.slack-edge.com/T0266FRGM-U01MPHKFZ7S-abe73849817a-512"> 
	</main>
	<script>
import { array } from "astro:schema";

		 var element = document.getElementById('random');
		 let colors = [
			"orange",
			"white",
			"skyblue",
			"mustardyellow",
			"green",
		 ]

		 setInterval(function() {
  element.style.color = colors[Math.floor(Math.random() * colors.length)];
}, 5000);
	</script>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;

	}
	.bold-link {
		color: #ffff00;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
