---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="Radioblahaj's website!">
    <main>
        <div style="line-height: 1;">
            <h3 style="color: #6996AD">~@radioblahaj/site</h3>
            <h1 style="">
                Hey I'm <span id="random">Arav!</span>
            </h1>

            <div class="link-section">
                <a class="links" href="https://blog.radioblahaj.com">Blog</a>
                <a class="links" href="https://github.com/radioblahaj">Github</a
                >
                <a class="links" href="https://www.instagram.com/radioblahaj/"
                    >Instagram</a
                >
                <a class="links" href="https://files.catbox.moe/p699cp.pdf"
                    >CV</a
                >
            </div>
        </div>
        <p>
            <p>
                I'm an 17 year old from Mississauga who is a aspiring polymath,
                a jack of all trades, master of none. I love going on random
                rabbit holes and making all sorts of cool projects in my free
                time :)
            </p>
            I'm currently a freshman at York University > majoring in Interdisciplinary
            Social Science
            <p>
                Some of my interests (in no particular order) include politics,
                urban planning, public transit, programming (sometimes), poetry,
                hackathons & meetups, and communities. I also really love music,
                and you'll often find me with my headphones on or <a
                    href="/now"
                >
                    songwriting</a
                > at all hours of the day
            </p>
            <!-- <p>
            Quick fun fact: I used to play the drum for 4 years, the flute for
            1.5 years, and the saxophone for 4 months.
        </p> -->

            <p>
                Along the way, I've ran hackathons all over the world, worked at
                <a href="https://hackclub.com/">Hack Club</a> leading community operations,
                spent 6 weeks interning in VT building custom moderation tools and
                virtual events for
                <a href="https://hackclub.com/arcade">Arcade </a>, played the
                drums for 4 years, and <small
                    >ran a podcast from 2021 to 2022 where I interviewed SaaS
                    founders 🙈</small
                >
            </p>
            <p>
                Right now, I'm working on starting an event incubator and
                community for whimiscal and curious young makers in Toronto with <a
                    href="https://lu.ma/blahajdiy">BlahajDIY</a
                >!
            </p>
            <!-- <p>
            I also run a blog and newsletter on Substack, and send emails
            sometimes. You can check out my Substack here <a
                href="https://radioblahaj.substack.com">here</a
            >. I recently published a reflection on meetups & how to run your
            own <a href="https://blog.radioblahaj.com/posts/meetups"> here</a>.
            Occasionaly, I publish articles on various Queen's Park and
            Mississauga City Council issues and happenings at <a
                href="https://mississaugareport.substack.com/"
                >The Mississauga Report</a
            >
        </p> -->

            <!-- <p>Now playing on Spotify: <span id="spotify-song"> song here</span></p> -->
            <h3 style="">Stuff I'm proud of:</h3>
            <ul>
                <li>
                    <a href="https://apocalypse.hackclub.com">⭐ Apocalypse</a>:
                    Toronto's largest/longest high school hackathon in May 2024
                    at Shopify HQ! I was one of the main organizers and mainly
                    helped with logistics! Also the project I'm most proud of :)
                </li>
                <li>
                    <a href="https://angelhacksto.hackclub.com"
                        >AngelHacks Toronto</a
                    >: The first hackathon I ran in Toronto with a friend! It
                    was a 12 hour game jam that we may or may not have ran <del
                        >illegaly</del
                    > in a Wework.
                </li>
                <li>
                    <a href="https://lu.ma/circuit-island">Circuit Island</a>: A
                    picnic meetup and hardware jam for 50+ Toronto hack clubbers
                    on the Toronto Islands
                </li>
                <li>
                    <a href="https://github.com/hackclub/channelmodtools"
                        >Firehose</a
                    >: A Slack bot to bring discord-style moderation tools to
                    Slack. Built during my summer internship at Hack Club HQ in
                    the summer of 2024.
                </li>
                <li>
                    <a href="https://github.com/radioblahaj/youfeelwefeel"
                        >YouFeelWeFeel</a
                    >: A custom feelings logger and journaling API inspired by
                    How We Feel!
                </li>
                <li>
                    <a href="https://epoch.hackclub.com">Epoch</a>: A 42 hour
                    high school hackathon in New Delhi in January 2023. I helped
                    coordinate workshops and other organizing support.
                </li>
                <li>
                    <a
                        href="https://hc-cdn.hel1.your-objectstorage.com/s/v3/2fd9e2172d6c910921d91a953cc463db68083508_20250302_115010.mp4"
                        >Human Turn Signals</a
                    >: Turn signals but for humans! A hackathon project built
                    with freinds at Scrapyard, came in 4th place :)
                </li>
                <li>
                    <a
                        href="https://www.reddit.com/r/ontario/comments/1gwsrtx/a_quick_summary_of_the_amendment_to_bill_212/"
                        >Bill 212 Cheatsheet</a
                    >: A summary I made of the changes to Bill 212 (Ontario's
                    bike lane bill) that went viral on r/ontario
                </li>
                <li>
                    <a href="https://www.blog.radioblahaj.com/posts/meetups"
                        >Reflections from running a Toronto meetup and how to
                        run your own</a
                    >: A blog post I wrote about running a meetup in Toronto and
                    how others can run their own. It took a couple months to
                    write and I'm really proud of how it turned out.
                </li>
            </ul>
            <p>
                If you'd like to get in touch, I'm @radioblahaj in most
                platforms. You can also email me at my name [@] this domain or
                signal me @radioblahaj.18.
            </p>
            <p>
                See you around,
                <br />
                Arav
            </p>
            <img
                src="https://files.catbox.moe/d0v8kx.png"
                style="width: 300px; height:300px"
            />
        </p>
        <div>
            <img src="https://saahild.com/buttons/hackclub.png" />
            <img src="https://cyber.dabamos.de/88x31/cssdif.gif" />

            <a href="https://3kh0.net">
                <img src="https://files.catbox.moe/ktu37j.png" /></a
            >

            <!-- <img src="https://88x31.kate.pet/nb_noproblem.jpg" height="31" /> -->
            <a href="https://prpl.wtf">
                <img src="https://prpl.wtf/assets/images/88x31/prpl_wtf.gif" />
            </a>
            <img src="https://88x31.kate.pet/madewith_macos.gif" height="31" />
            <img src="https://88x31.kate.pet/button25.gif" height="31" />

            <a href="https://saahild.com/">
                <img
                    src="https://raw.githubusercontent.com/NeonGamerBot-QK/NeonGamerBot-QK/refs/heads/main/webring.gif"
                />
            </a>
        </div>
    </main>
</Layout>

<!-- <h2>Photos</h2> -->
<!-- <h3>A collection of my favorite
            photos and friends :)</h3> <!-- <div class="photos"> <img
            class="photos"
            src="https://hc-cdn.hel1.your-objectstorage.com/s/v3/4280428a7e980f161d3b846d394242a6755f7475_image.png"
            /> </div> -->

<script>
    let element = document.getElementById("random");
    let holder = document.getElementById("hide-video");
    let expand = document.getElementById("expand");
    let display = "none";
    holder.addEventListener("click", function () {
        if (display == "none") {
            display = "block";
            expand.style.display = display;
        } else {
            display = "none";
            expand.style.display = display;
        }
    });
    let colors = ["orange", "white", "skyblue", "mustardyellow", "deeppink"];
    setInterval(function () {
        element.style.color = colors[Math.floor(Math.random() * colors.length)];
    }, 1000);
</script>
