---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="Radioblahaj's website!">

<html>

<body class="c12 doc-content">
    <div>
        <p class="c1"><span class="c9 c10"></span></p>
    </div>
    <h1 class="c8" id="h.pn8hfpqczki"><span class="c4">Musings from Toronto Meetup (&amp; how to run your
            own)</span><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 469.33px;"><img
                alt="" src="images/image3.png"
                style="width: 624.00px; height: 469.33px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></h1>
    <p class="c1"><span class="c9 c10"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Backstory</span></p>
    <p class="c2"><span class="c0">I&rsquo;ve always wanted to run a meetup to bring Toronto hack clubbers together! But
            every time I attempted one before, it never worked out. I&rsquo;ve run hackathons before, but not with the
            focus of socialization. While Toronto has a super active community, hackathons always felt too busy. I
            always felt like I never really got the chance to talk to people individually or that I got enough ample
            time to socialize and make new friends &ndash; one of the many reasons I ran hackathons and attended them.
            But last winter, I had the opportunity to run a meetup in Toronto, and it was incredible. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">There is a tendency in online communities where there is a lack of physical
            connection. This is true in Hack Club and almost every other community I&rsquo;ve been part of that&rsquo;s
            tangentially computer-related. Programming and programming-related mediums are often solitary activities,
            and Hackathons attempt to solve this problem by bringing hackers together, build a long-term hacker
            community. Hackathons are great for just technical experiences, but they don&rsquo;t give an opportunity to
            connect beyond just simple conversation. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c7">The fact is that hackathons have a culture of building and shipping, and that&rsquo;s
            perfect for the problem it&#39;s attempting to solve. I think hackathons still have their place and should
            exist. </span><span class="c5">But social connectivity is also vital.</span><span class="c0">&nbsp;In
            communities like Hack Club, where there are teenagers from all over the world, there exist pockets where
            there are a lot of hack clubbers, but not a sub-community that you can just do things with.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">This has always bothered me because I always see a lot of people throughout Slack,
            and especially as Toronto&rsquo;s hacker community has grown. I think meetups provide the missing middle of
            bringing people together; while hackathons allow for the base of a hacker community to form, meetups allow
            those people to gel from just acquaintances into real friend groups!</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">A year and a half ago, it would have been impossible to get all of these hack
            clubbers in the same room. There wasn&rsquo;t really a community of Toronto hack clubbers who were active or
            open to coming to these sorts of things. It wasn&rsquo;t until we started building the community we wanted
            by running so many hackathons, and inspiring other people to run hackathons of their own, that Toronto had a
            bustling sub-community. It baffles me how much has changed since we first ran AngelHacks Toronto back in May
            2023, and how it&rsquo;s only been 2 years.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">Behind the scenes</span></p>
    <p class="c2"><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 338.89px; height: 310.22px;"><img
                alt="" src="images/image1.png"
                style="width: 338.89px; height: 310.22px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <p class="c1"><span class="c3"></span></p>
    <p class="c2"><span class="c0">On Sunday, December 29th, 2024, my two friends (Mutammim &amp; Alex Ren) ran a meetup
            for Hack Clubbers in Toronto. 25 people showed up, and it was by all accounts a success. It was a highly
            rewarding experience, and it was great being able to put names to faces and actually see everyone in one
            place. &nbsp;The meetup from a desire to meet up while Alex was in town, and turned into a Toronto Hack
            Clubbers meetup from there. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Organizing the meetup was a whirlwind &mdash; we didn&rsquo;t expect to get this much
            interest and ended up organizing it with only 2 days to spare. In hindsight, this was our major pitfall
            because it made everything more scrappy. At first, we thought we&rsquo;d have a small group and people and
            would be able to find somewhere last minute to hang out, like a cafe or Union Station. But our numbers kept
            on jumping, and our expectations changed as we jumped from 5 to 15 people with 3 days to spare. This is what
            caused us to scramble a lot, to find a place to fit everyone and come up with a proper plan to make sure
            everyone had a great time. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">We probably went through at least 3 or 4 alternate plans before settling on a cafe
            and then lunch either before or after. &nbsp;</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">The day before the meetup, we noticed our RSVPs had increased again, and the hunt to
            find a venue was back. We had to change our plans again because it turned out that meeting at Union, and
            doing some sort of activity with 25 people, would be a mess.</span><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 204.91px; height: 379.42px;"><img
                alt="" src="images/image8.png"
                style="width: 204.91px; height: 379.42px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">I ended up calling 11 cafes with Mutammim helping me find places to call and while we
            came up with last-minute plans in the background. Most cafes didn&rsquo;t allow for reservations, and if
            they did, it was too late to book them &amp; too expensive for us. Finally, we found a cafe called Carbonic
            Cafe to hold 15 people, which said they could probably hold everyone. But when I called in the morning, they
            were too busy and they couldn&rsquo;t fit 25 people, and everything we did the night before didn&rsquo;t
            work. If one good thing came out of this, it&rsquo;s the fact that I now know a plethora of cafes in Toronto
            if I ever need somewhere to work or hang out!</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">So we decided to pivot, and change the meetup into two parts &mdash; lunch at
            Union&rsquo;s food court &amp; social time at the cafe. We called it a night and decided to hope for the
            best tomorrow. Little did we know that our RSVPs had increased again, and we would have to end up changing
            our plans one last time. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">The actual meetup</span></p>
    <p class="c2"><span class="c0">When we got to Union, we had no venue after everyone showed up. It was awkward at
            first, but slowly everyone started interacting amongst themselves. They traded stickers, signed postcards,
            and trading cards, and formed into their own groups. People made an effort to include other people, and
            almost everyone had someone to talk with. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">What surprised me was that, even at the most chaotic times, people still bonded and
            had fun. One of my favourite memories is how I remember seeing someone feel uncomfortable and oddly quiet at
            Union, but eventually, they went up to two people they didn&rsquo;t know before and spent the rest of the
            event with them. I think that says a lot about what the meetup was like.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">We ended up walking in the rain, scrambling to find somewhere else to fit everybody.
            None of this was ideal, especially when you have a group of 25 people looking at you for answers. Even when
            we were stuck in the rain, everyone kept up their energy. No one was really bored or felt restless. One
            attendee told me how he felt uncomfortable when he stepped into Union, but during
            &ldquo;cafe-hopping&rdquo;, he met new friends through the people he already knew.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">After more hopping around, we finally found a pizza restaurant that could fit
            everyone. We didn&rsquo;t know what to expect, but the reviews were great, and they had a lot of space. We
            decided to take a chance on it, and I&rsquo;m happy to say that it exceeded our expectations and was
            perfect.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Hack Club was able to give us $200 USD for the meetup, and I&rsquo;m beyond grateful
            for that. From the start, we knew that we wanted to make the meetup something everyone could experience, and
            that meant paying for food and transportation (as needed). This was really helpful because it made it easy
            for anyone to take part, and had no barriers. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">At the pizza place, we decided to buy 10 shareable pizzas. The pizzas were like
            Italian pizzas and were delicious. Everyone mentioned how much they loved the food, and were surprised
            &ndash; myself included! </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Lunch lasted about two hours, and we spent the time socializing with each other about
            all sorts of things at our own tables. It was really insightful and full of fun anecdotes. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 468.00px;"><img
                alt="" src="images/image7.png"
                style="width: 624.00px; height: 468.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">I don&rsquo;t know what the other table got up to, but my group talked about
            everything from hackathons to what we were passionate about. It&rsquo;s been a few months, and my memory is
            a bit fuzzy, but I remember being lost in the conversation. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c7">&#8203;&#8203;</span><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 352.00px;"><img
                alt="" src="images/image5.png"
                style="width: 624.00px; height: 352.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">One thing we hoped to do was to run a show or have lighting talks, but venue
            complications made that difficult. At the end, though, we ended up having impromptu lighting talks and a
            show and tell aft. Alex showcased what she was working on at HQ, and Vivian gave a talk Hamsters. Shoutout
            to Vivian for saving us there!!</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 288.00px;"><img
                alt="" src="images/image4.png"
                style="width: 624.00px; height: 288.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">After almost 3 hours, we decided to call it quits and make a group trip in the rain
            to the mall and end it there. It was raining, and very few people had umbrellas. There was a bus available,
            but trying to get everyone on the bus would have been a mess. There was only one option left: walking in the
            rain. This is also where the meetup ended, albeit less exciting than I would have hoped. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 624.00px; height: 468.00px;"><img
                alt="" src="images/image6.png"
                style="width: 624.00px; height: 468.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c5 c11">Post meetup reflections</span></p>
    <p class="c2"><span class="c0">I&rsquo;m proud of how the meetup turned out! I expected only a handful of friends
            and other people to show up, not 25. There were even some who travelled as far as 6 hours just to get there,
            and I find that really inspiring.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">A lot of the people who came weren&rsquo;t very active members or people I knew.
            There were some people who attended events we&rsquo;ve run before, people who live in Toronto and have done
            some stuff in Hack Club before, and even someone who wasn&rsquo;t part of Hack Club at all. It was crazy how
            many people showed up, and how we were able to bring everyone together.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">I didn&rsquo;t know what the meetup would be like at the start. This was my first
            time doing something like this, and I was nervous. I&rsquo;ve run hackathons before, but running a smaller
            event like this wasn&rsquo;t something I had experience with. Running hackathons ironically feels simpler
            than meetups, even though hackathons have a lot more complexity attached to them.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">I wanted this meetup to be a lightbulb moment for everyone who attended. You know
            that feeling you get when you find your group of people? People who you can relate to, and feel at home
            with, and where you feel like you belong?</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">And that is inherently difficult. Social connectivity is tough, and finding people
            who can just do things with is not easy. When we started this meetup, this was the high expectation I wanted
            to achieve with it. I didn&rsquo;t know if it was even possible or if meetups would bridge the gap. As
            hopeful as I sounded at the start of this post, it felt like something that wouldn&rsquo;t hold true.</span>
    </p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">But if there&rsquo;s anything I&rsquo;ve learned from all of this, it is that
            anything is possible when you&rsquo;re passionate about it. The meetup brought that exact feeling to almost
            everyone who took a chance and showed up! &nbsp;Mostly everyone I asked mentioned how much of a difference
            the meetup made for them, and how it was great to actually be in the same room as other teenagers just like
            them. It ended up becoming a big stepping stone for everyone, myself included</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">It inspired people to run their own hackathons, talk in Hack Club more, and take part
            in other activities. One of the attendees is organizing a meetup for later this month, and I&rsquo;m super
            excited about that. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">This is exactly why I ran this meetup, and I&rsquo;m glad it worked :)</span></p>
    <p class="c1"><span class="c3"></span></p>
    <p class="c2"><span class="c5 c11">What went well and what didn&rsquo;t</span></p>
    <p class="c2"><span class="c0">There were a lot of roadblocks along the way, but everything worked out in the end.
            However, there are a few things I would have loved to do differently, and what I want to do in the
            future.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">For starters, we organized the bulk of the meetup in 3 days, after spending a month
            talking and thinking about it. The truth is that 25 people showing up was never considered to be a serious
            possibility, and we underestimated what that would be like. It ended up being no surprise that scrambling to
            book venues with 24-hour notice is near impossible. This was one of the things that made everything chaotic,
            and led us to &ldquo;cafe-hopping&rdquo;</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Another challenge we faced was a lack of structured activities. While everyone was
            able to come together, there was a lot more that could have been done to engage them. I briefly mentioned
            lighting talks and show and tell above, and I wish we were able to get almost everyone to run one of their
            own. If we run another meetup in the future, I would love to try and build it around activities like
            this.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c7">Food is something that ended up being all over the place as well. It&#39;s important
            to make sure you keep in mind dietary concerns and cost. From lessons learned, I found that shareable meals
            are the best for meetups because they make everyone interact and have a common experience. It&rsquo;s also
            really cheap to buy a lot of food to share with people. </span><span class="c5">We spent $150 out of $200,
            and ended up paying $10 USD per person. In a place like Toronto, where food is not cheap, $10 per person is
            a steal. </span><span class="c0">But you need to find somewhere to fit everyone and book it in advance.
        </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">It&rsquo;s also really important to have a good opening and closing. Our opening was
            pretty good, and there was a lot of high energy. As we got closer to our &nbsp;ending on the other hand,
            that energy fanned out. At the mall, everyone just separated into their groups and started making their way
            back home. If I could go back in time, the one thing I would do is a better closing ceremony. It might have
            helped if we had left the pizza restaurant earlier.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c7">Before I forget, thank you for showing up and helping me make this happen.
        </span><span class="c5">Thank you especially to Mutammim and Alex for helping run the meetup day and supporting
            me when problems arose</span><span class="c0">. The meetup wouldn&rsquo;t have been the same without you
            &lt;3</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c3">You should run a meetup</span></p>
    <p class="c2"><span class="c0">If there&rsquo;s one thing I want you to leave with after reading this, it would be
            feeling inspired to run your meetup.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Something I hear from a lot of people is that they feel scared to do one of their
            own, and feel like they wouldn&rsquo;t be able to do it. This is normal, and I don&rsquo;t blame you, but
            the truth is that it&rsquo;s a lot easier than it seems. Heck like I mentioned before, this was my first
            time doing something like this and I had nothing to guide me there!</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c5">If you want to bring people in your community together for whatever shared interest
            you have or have a lightbulb moment of your own, you should run a meetup. </span><span class="c7">Meetups
            are also great to bridge that gap for existing hacker communities beyond hackathons too. &nbsp;All
            you</span><span class="c0">&nbsp;need is a fresh mind and a plan. To be cliche, the only limit is your
            imagination.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">If you want to run a meetup, I highly recommend doing it with more than one person.
            Ask your friends or even other community members for help, and make it happen. Doing it yourself is
            challenging, and it&rsquo;s not something that you can put all on your shoulders. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">Every meetup is going to be different, but there are two types of meetups you can
            organize:</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c7">-</span><span class="c9 c5">&nbsp;Social Hangouts</span></p>
    <p class="c2 c6"><span class="c0">- E.g., Pizza, Lunch, Cafes, etc</span></p>
    <p class="c2"><span class="c7">-</span><span class="c5 c9">&nbsp;Go on an adventure</span></p>
    <p class="c2 c6"><span class="c0">&nbsp;- E.g., Hide and Seek, Geocaching, Transit trips, having an end goal </span>
    </p>
    <p class="c1 c6"><span class="c0"></span></p>
    <p class="c2"><span class="c5">What type of meetup you can run depends on your goals and personality</span><span
            class="c0">. If you&rsquo;re an introvert, you might feel more comfortable running a hangout event like a
            mini game of hide and seek, and if you&rsquo;re an extrovert, you might feel more comfortable running a
            social event. Try to step out of your comfort zone a little. </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c7">To repeat an earlier point, </span><span class="c5">BOOK SPACE AHEAD OF
            TIME</span><span class="c0">. I sound like a broken record, but this made all the difference for Toronto.
        </span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c7">No matter what, though, </span><span class="c5">embrace the whimsical</span><span
            class="c0">. The best moments from the Toronto meetup came from unexpected moments and impromptu activities.
            If you want other people to feel comfortable, be confident even when you&rsquo;re panicking. We
            wouldn&rsquo;t have found the pizza restaurant if it weren&rsquo;t for a series of unfortunate
            events!</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">If you need something to keep track of RSVPs and send information out, Luma is your
            friend. Luma made running the Toronto meetup so much easier for us because it let us focus on the big
            picture, and not the small details. It&rsquo;s free to use, and a bonus is that you can also reach more
            people in your city to spread the word about your meetup. It also automatically sends feedback forms after
            your event is over, if that&rsquo;s valuable to you.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">My email (arav@hackclub.com) is always open if you want advice or feedback on running
            your meetups, and if you&#39;re in Toronto, I would love to chat and grab a coffee with you.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c5">To whoever is reading this, I believe in you.</span><span class="c0">&nbsp;Even if
            you don&rsquo;t end up running a meetup in the foreseeable future, I hope this sticks around with you and
            that this inspires you to start attending events of your own.</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">See you around &#10084;&#65039;</span></p>
    <p class="c2"><span class="c0">~ Arav</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span class="c0">(here&rsquo;s a photo of me my friend Ruby took after the meetup!)</span></p>
    <p class="c1"><span class="c0"></span></p>
    <p class="c2"><span
            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 371.50px; height: 278.63px;"><img
                alt="" src="images/image2.png"
                style="width: 371.50px; height: 278.63px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span></p>
</body>

</html>
	
</Layout>

<style type="text/css">
        @import url(https://themes.googleusercontent.com/fonts/css?kit=OUdT43qE98k1fLl98sLVVqp2XEQ3ORDOYyBwgvLfuxU);

        .lst-kix_r73jmds258bq-0>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-0, decimal) ". "
        }

        ol.lst-kix_gun590bg337a-8 {
            list-style-type: none
        }

        ol.lst-kix_gun590bg337a-6 {
            list-style-type: none
        }

        ol.lst-kix_gun590bg337a-7 {
            list-style-type: none
        }

        ol.lst-kix_gun590bg337a-4 {
            list-style-type: none
        }

        ol.lst-kix_gun590bg337a-5 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-3>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-3, decimal) ". "
        }

        ol.lst-kix_gun590bg337a-2 {
            list-style-type: none
        }

        ol.lst-kix_gun590bg337a-3 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-2>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-2, lower-roman) ". "
        }

        ol.lst-kix_gun590bg337a-0 {
            list-style-type: none
        }

        ol.lst-kix_gun590bg337a-1 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-1>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-1, lower-latin) ". "
        }

        .lst-kix_r73jmds258bq-0>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-0
        }

        .lst-kix_gun590bg337a-8>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-8, lower-roman) ". "
        }

        .lst-kix_gun590bg337a-0>li {
            counter-increment: lst-ctn-kix_gun590bg337a-0
        }

        .lst-kix_yrcgr5w5wh41-4>li:before {
            content: "-  "
        }

        .lst-kix_ei0x49myha6w-2>li:before {
            content: "-  "
        }

        .lst-kix_ei0x49myha6w-3>li:before {
            content: "-  "
        }

        .lst-kix_gun590bg337a-0>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-0, decimal) ". "
        }

        .lst-kix_gun590bg337a-2>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-2, lower-roman) ". "
        }

        .lst-kix_yrcgr5w5wh41-3>li:before {
            content: "-  "
        }

        .lst-kix_ei0x49myha6w-0>li:before {
            content: "-  "
        }

        .lst-kix_ei0x49myha6w-4>li:before {
            content: "-  "
        }

        .lst-kix_yrcgr5w5wh41-2>li:before {
            content: "-  "
        }

        .lst-kix_gun590bg337a-1>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-1, lower-latin) ". "
        }

        .lst-kix_gun590bg337a-5>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-5, lower-roman) ". "
        }

        .lst-kix_yrcgr5w5wh41-1>li:before {
            content: "-  "
        }

        .lst-kix_gun590bg337a-6>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-6, decimal) ". "
        }

        .lst-kix_ei0x49myha6w-1>li:before {
            content: "-  "
        }

        .lst-kix_r73jmds258bq-1>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-1
        }

        ol.lst-kix_r73jmds258bq-7.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-7 0
        }

        .lst-kix_yrcgr5w5wh41-0>li:before {
            content: "-  "
        }

        .lst-kix_gun590bg337a-7>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-7, lower-latin) ". "
        }

        ul.lst-kix_ei0x49myha6w-0 {
            list-style-type: none
        }

        ul.lst-kix_ei0x49myha6w-1 {
            list-style-type: none
        }

        .lst-kix_gun590bg337a-2>li {
            counter-increment: lst-ctn-kix_gun590bg337a-2
        }

        .lst-kix_ei0x49myha6w-8>li:before {
            content: "-  "
        }

        ul.lst-kix_ei0x49myha6w-6 {
            list-style-type: none
        }

        .lst-kix_ei0x49myha6w-6>li:before {
            content: "-  "
        }

        .lst-kix_ei0x49myha6w-7>li:before {
            content: "-  "
        }

        ul.lst-kix_ei0x49myha6w-7 {
            list-style-type: none
        }

        ul.lst-kix_ei0x49myha6w-8 {
            list-style-type: none
        }

        ol.lst-kix_gun590bg337a-7.start {
            counter-reset: lst-ctn-kix_gun590bg337a-7 0
        }

        .lst-kix_gun590bg337a-4>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-4, lower-latin) ". "
        }

        ul.lst-kix_ei0x49myha6w-2 {
            list-style-type: none
        }

        ul.lst-kix_ei0x49myha6w-3 {
            list-style-type: none
        }

        .lst-kix_ei0x49myha6w-5>li:before {
            content: "-  "
        }

        ul.lst-kix_ei0x49myha6w-4 {
            list-style-type: none
        }

        ul.lst-kix_ei0x49myha6w-5 {
            list-style-type: none
        }

        .lst-kix_gun590bg337a-3>li:before {
            content: "" counter(lst-ctn-kix_gun590bg337a-3, decimal) ". "
        }

        ol.lst-kix_gun590bg337a-4.start {
            counter-reset: lst-ctn-kix_gun590bg337a-4 0
        }

        ol.lst-kix_r73jmds258bq-5 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-3>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-3
        }

        ol.lst-kix_r73jmds258bq-6 {
            list-style-type: none
        }

        ol.lst-kix_r73jmds258bq-3 {
            list-style-type: none
        }

        ol.lst-kix_r73jmds258bq-4 {
            list-style-type: none
        }

        ol.lst-kix_r73jmds258bq-4.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-4 0
        }

        ol.lst-kix_r73jmds258bq-7 {
            list-style-type: none
        }

        ol.lst-kix_r73jmds258bq-8 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-7>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-7
        }

        .lst-kix_gun590bg337a-3>li {
            counter-increment: lst-ctn-kix_gun590bg337a-3
        }

        .lst-kix_yrcgr5w5wh41-5>li:before {
            content: "-  "
        }

        ol.lst-kix_gun590bg337a-5.start {
            counter-reset: lst-ctn-kix_gun590bg337a-5 0
        }

        .lst-kix_yrcgr5w5wh41-7>li:before {
            content: "-  "
        }

        .lst-kix_yrcgr5w5wh41-6>li:before {
            content: "-  "
        }

        ol.lst-kix_r73jmds258bq-1 {
            list-style-type: none
        }

        ol.lst-kix_r73jmds258bq-2 {
            list-style-type: none
        }

        .lst-kix_yrcgr5w5wh41-8>li:before {
            content: "-  "
        }

        ol.lst-kix_r73jmds258bq-0 {
            list-style-type: none
        }

        ol.lst-kix_r73jmds258bq-5.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-5 0
        }

        ol.lst-kix_gun590bg337a-6.start {
            counter-reset: lst-ctn-kix_gun590bg337a-6 0
        }

        ol.lst-kix_r73jmds258bq-6.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-6 0
        }

        ol.lst-kix_r73jmds258bq-3.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-3 0
        }

        ol.lst-kix_gun590bg337a-3.start {
            counter-reset: lst-ctn-kix_gun590bg337a-3 0
        }

        .lst-kix_gun590bg337a-6>li {
            counter-increment: lst-ctn-kix_gun590bg337a-6
        }

        ol.lst-kix_gun590bg337a-0.start {
            counter-reset: lst-ctn-kix_gun590bg337a-0 0
        }

        .lst-kix_r73jmds258bq-4>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-4
        }

        .lst-kix_r73jmds258bq-6>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-6
        }

        .lst-kix_gun590bg337a-5>li {
            counter-increment: lst-ctn-kix_gun590bg337a-5
        }

        .lst-kix_gun590bg337a-8>li {
            counter-increment: lst-ctn-kix_gun590bg337a-8
        }

        ol.lst-kix_r73jmds258bq-0.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-0 0
        }

        ol.lst-kix_r73jmds258bq-1.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-1 0
        }

        ol.lst-kix_r73jmds258bq-8.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-8 0
        }

        .lst-kix_r73jmds258bq-8>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-8
        }

        ol.lst-kix_gun590bg337a-8.start {
            counter-reset: lst-ctn-kix_gun590bg337a-8 0
        }

        ol.lst-kix_gun590bg337a-1.start {
            counter-reset: lst-ctn-kix_gun590bg337a-1 0
        }

        .lst-kix_gun590bg337a-4>li {
            counter-increment: lst-ctn-kix_gun590bg337a-4
        }

        ol.lst-kix_r73jmds258bq-2.start {
            counter-reset: lst-ctn-kix_r73jmds258bq-2 0
        }

        .lst-kix_gun590bg337a-1>li {
            counter-increment: lst-ctn-kix_gun590bg337a-1
        }

        ul.lst-kix_yrcgr5w5wh41-5 {
            list-style-type: none
        }

        ul.lst-kix_yrcgr5w5wh41-6 {
            list-style-type: none
        }

        ul.lst-kix_yrcgr5w5wh41-7 {
            list-style-type: none
        }

        .lst-kix_gun590bg337a-7>li {
            counter-increment: lst-ctn-kix_gun590bg337a-7
        }

        ul.lst-kix_yrcgr5w5wh41-8 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-7>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-7, lower-latin) ". "
        }

        ul.lst-kix_yrcgr5w5wh41-1 {
            list-style-type: none
        }

        ul.lst-kix_yrcgr5w5wh41-2 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-6>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-6, decimal) ". "
        }

        .lst-kix_r73jmds258bq-8>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-8, lower-roman) ". "
        }

        ul.lst-kix_yrcgr5w5wh41-3 {
            list-style-type: none
        }

        ul.lst-kix_yrcgr5w5wh41-4 {
            list-style-type: none
        }

        ul.lst-kix_yrcgr5w5wh41-0 {
            list-style-type: none
        }

        .lst-kix_r73jmds258bq-4>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-4, lower-latin) ". "
        }

        .lst-kix_r73jmds258bq-5>li:before {
            content: "" counter(lst-ctn-kix_r73jmds258bq-5, lower-roman) ". "
        }

        ol.lst-kix_gun590bg337a-2.start {
            counter-reset: lst-ctn-kix_gun590bg337a-2 0
        }

        .lst-kix_r73jmds258bq-2>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-2
        }

        .lst-kix_r73jmds258bq-5>li {
            counter-increment: lst-ctn-kix_r73jmds258bq-5
        }

        ol {
            margin: 0;
            padding: 0
        }

        table td,
        table th {
            padding: 0
        }

        .c3 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 14pt;
            font-family: "Figtree";
            font-style: normal
        }

        .c8 {
            padding-top: 20pt;
            padding-bottom: 6pt;
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c0 {
            color: #000000;
            font-weight: 400;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-family: "Figtree";
            font-style: normal
        }

        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left;
            height: 11pt
        }

        .c4 {
            color: #000000;
            font-weight: 700;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 20pt;
            font-family: "Figtree";
            font-style: normal
        }

        .c2 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .c9 {
            color: #000000;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 11pt;
            font-style: normal
        }

        .c12 {
            background-color: #ffffff;
            max-width: 468pt;
            padding: 72pt 72pt 72pt 72pt
        }

        .c5 {
            font-weight: 700;
            font-family: "Figtree"
        }

        .c7 {
            font-weight: 400;
            font-family: "Figtree"
        }

        .c10 {
            font-weight: 400;
            font-family: "Arial"
        }

        .c11 {
            font-size: 14pt
        }

        .c6 {
            text-indent: 36pt
        }

        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 26pt;
            padding-bottom: 3pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }

        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }

        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            orphans: 2;
            widows: 2;
            text-align: left
        }
    </style>

