---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Image from "astro/components/Image.astro";
---

<Layout title="Radioblahaj's website!">
    <main>
        <h1>Lyrics I've wrote</h1>
        <p>There will be lyrics here soon :)</p>
    </main>

    <style>
        #expand {
            display: none;
        }

        p::selection {
            background: rgb(30, 41, 156);
        }

        main {
            margin: auto;
            padding: 1rem;
            width: 800px;
            max-width: calc(100% - 2rem);
            font-size: 20px;
            line-height: 1.6;
        }
        .astro-a {
            position: absolute;
            top: -32px;
            left: 50%;
            transform: translatex(-50%);
            width: 220px;
            height: auto;
            z-index: -1;
        }
        h1 {
            font-size: 4rem;
            font-weight: 700;
            line-height: 0.1;
        }
        .bold-link {
            color: #ffff00;
        }

        code {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</Layout>
